{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Bem vindo ao calculador de rotas</h2>
        <h3> Este aplicativo é destinado a turistas que buscam calcular o menor custo entre dois destinos,
        indepente daquantidade de conexões necessárias</h3>
        <h3> Seu funcionamento é baseado em um grafo orientado, com pesos. Que foi construido a partir de um
        arquivo inicial, instacioado junto a inicialização do sistema.</h3>
        <h3> Apartir desta incialização é possivel consultar as rotas existenste, obter um caminho e custo.
        Bem como, adicionar uma nova rota que não foi previamente carregada.</h3>
  </div>
<div class="jumbo">
    <a href="/arquivo"><button type="button">Rotas Disponiveis</button> </a>
    <a href="/novo"><button type="button">Adicionar nova rota</button> </a>
    <a href="/busca"><button type="button">Obter Caminho!</button> </a>
</div>
{% endblock %}